@model PushNotification.contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
