@model IEnumerable<PushNotification.contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.contactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contactID })
        </td>
    </tr>
}

</table>
